version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: kaspi_postgres
    environment:
      POSTGRES_DB: kaspi_demper
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  django:
    build: .
    container_name: kaspi_django
    command: python manage.py runserver 0.0.0.0:8010
    volumes:
      - .:/app
    ports:
      - "8010:8010"
    environment:
      - DEBUG=True
      - POSTGRES_DB=kaspi_demper
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env

volumes:
  postgres_data:

